/* CSS RESET */


/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* LAYOUT */

body {
    font-family: sans-serif;
    background: #ededed;
    color: #333;
}


/* HEADER */

header {
    background: white;
    border-bottom: 1px solid darkgray;
    display: inline-block;
    width: 100%;
}

.header__logo {
    padding: 1rem;
    width: 100px;
    float: left;
}

nav {
    text-align: right;
}

nav li {
    display: inline-block;
    padding: 2rem 1rem 1rem;
}


/* MEDIA GALLERY COMPONENT */

.media-gallery {
    padding: 2rem 1rem 1rem;
    margin: 0 auto;
}

.media-gallery__title {
    font-size: 2em;
    margin: 0 0 1rem;
}

.media-gallery-thumbnails {
    display: inline-flex!important;
    flex-wrap: wrap!important;
}

.media-gallery-thumbnails__img {
    width: 400px!important;
    height: 250px!important;
    border: #ededed 2px solid;
    margin: 10px;
    cursor: pointer;
}

.media-gallery-main__img {
    width: 100%;
    border: #ededed 2px solid;
}

.search-box {
    display: block;
    height: 30px;
    width: 200px;
    border-radius: 2px;
    padding: 2px;
    border: 1px solid lightgrey;
    margin-bottom: 20px;
}

.suggestions {
    max-height: 150px;
    height: 150px;
    overflow-y: auto;
    width: auto;
}